<h1><%= link_to(recipe.title, recipe) %><%= image_tag("star.png", size: "32x32", alt: "Destaque") if recipe.star? %></h1>
<div class="col-md-6">
  <%= link_to image_tag(recipe.image.url(:medium), class: "img-thumbnail"), recipe %>
</div>

<div class="col-md-6">
  <ul class="nav">
    <li>Tipo: <%= recipe.recipe_type.name %></li>
    <li>Cozinha: <%= recipe.cuisine.name %></li>
    <li>Dificuldade: <%= recipe.difficulty %></li>
    <li>Tempo de preparo: <%= recipe.cook_time %> minutos</li>
    <li><%= 'Favoritada ' + pluralize(recipe.favorites.count, 'vez', 'vezes') unless recipe.favorites.count < 1 %></li>
  </ul>
</div>