<section class="col-md-4">
  <h2>Receitas Favoritas</h2>
  <!-- <% @recipes.each do |recipe| %>
    <div class="col-md-12">
      <h1><%= link_to recipe.title, recipe %></h1>
      <ul>
        <li>Tipo: <%= recipe.recipe_type.name %></li>
        <li>Cozinha: <%= recipe.cuisine.name %></li>
        <li>Dificuldade: <%= recipe.difficulty %></li>
        <li>Tempo de preparo: <%= recipe.cook_time %> minutos</li>
      </ul>
    </div>
  <% end %> -->
</section>