<div class="row">
  <div class="col-md-4">
    <h1><%= @recipe.title %></h1>
    <%= image_tag @recipe.image.url(:medium), class: "img-thumbnail" %>
    <br>
    <br>
    <%= link_to "Voltar", root_path, class: "btn btn-default" %>
    <% if current_user && current_user.author?(@recipe) %>
      <%= link_to "Editar", edit_recipe_path(@recipe), class: "btn btn-primary" %>
      <%= link_to "Excluir Receita", recipe_path(@recipe), method: :delete,
        data: { confirm: 'Tem certeza?' }, class: "btn btn-danger" %>
    <% end %>
    <% if current_user && current_user.favorited?(@recipe) %>
      <%= link_to 'Remover dos favoritos', unfavorite_recipe_path(@recipe),
        method: :delete, class: "btn btn-default" %>
    <% elsif current_user && !current_user.favorited?(@recipe) %>
      <%= link_to 'Favoritar Receita', favorite_recipe_path(@recipe),
        method: :post, class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="col-md-5">
    <h3>Detalhes</h3>
    <p><strong>Prato: </strong><%= @recipe.recipe_type.name %></p>
    <p><strong>Cozinha de origem:</strong> <%= @recipe.cuisine.name %></p>
    <p><strong>Dificuldade: </strong><%= @recipe.difficulty %></p>
    <p><strong>Tempo de preparo: </strong><%= @recipe.cook_time %> minutos</p>
    <h3>Ingredientes</h3>
    <p><%= @recipe.ingredients %></p>
    <h3>Como Preparar</h3>
    <p><%= @recipe.method %></p>
    <br>
    <p><strong>Autor: </strong><%= @recipe.user.name %></p>

    <h3>Compartilhe essa receita com um amigo :)</h3>
    
    <%= form_tag share_recipe_path method: :post do %>
      <div class="row">
        <div class="form-group col-md-12">
          <%= label_tag :email, 'Email' %>
          <%= text_field_tag :email, nil, class: "form-control" %>
          <%= label_tag :message, 'Mensagem' %>
          <%= text_area_tag :message, nil, class: "form-control" %>
          <br>
          <%= submit_tag 'Enviar', class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>