<header class="col-md-12">
  <h1>My CookBook</h1>
  <p>Bem-vindo ao maior livro de receitas online</p>
  <div class="row">
    <nav class="navbar navbar-default">
      <%= form_tag(search_recipes_path, method: :get, class: "navbar-form navbar-left") do %>
        <div class="form-group">
          <%= text_field_tag(:term, nil, class: "form-control", id: "search", placeholder: "ex.: Feijoada") %>
          <%= submit_tag("Buscar", class: "btn btn-default") %>
        </div>
      <% end %>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item"><%= link_to 'Início', root_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to 'Enviar uma receita', new_recipe_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to 'Cadastrar uma cozinha', new_cuisine_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to 'Cadastrar um tipo de receita', new_recipe_type_path, class: "nav-link" %></li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Bem vindo #{current_user.email}", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Entrar', new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>

