<div class="row">
  <div class="col-md-5">
    <h1>My CookBook</h1>
    <p>Bem-vindo ao maior livro de receitas online</p>
  </div>

  <%= render 'shared/navbar' %>
</div>

<div class="row">
  <%= render 'shared/aside' %>

  <div class="col-md-4">
    <h2>Últimas Receitas</h2>
    <% @recipes.each do |recipe| %>
      <div class="col-md-6">
        <h1><%= link_to recipe.title, recipe %></h1>
        <ul>
          <li>Tipo: <%= recipe.recipe_type.name %></li>
          <li>Cozinha: <%= recipe.cuisine.name %></li>
          <li>Dificuldade: <%= recipe.difficulty %></li>
          <li>Tempo de preparo: <%= recipe.cook_time %> minutos</li>
        </ul>
      </div>
    <% end %>
  </div>
</div>