<%= form_for @recipe_type do |f| %>
  <div class="row">
    <div class="form-group col-md-2">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
<%= link_to "Voltar", root_path, class: "btn btn-default" %>
<%= f.submit 'Enviar', class: "btn btn-primary" %>
<% end %>
<br>
<%= render partial: 'shared/error', locals: {error: @recipe_type} %>