<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>My CookBook</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">

      <header class="col-md-12">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= render 'shared/header' %>
      </header>

      <aside class="col-md-2 col-xs-2 well">
        <%= render 'shared/aside' %>
      </aside>

      <main>
        <%= yield %>
      </main>

      <div class="row">
        <footer></footer>
      </div>

    </div>
  </body>
</html>